In [1]:
import pandas as pd
import csv

In [2]:
ub_data=pd.read_csv(r'F:\UB Philantrophy\Management_zipcode_1_use.csv')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (34,35,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ub_data.head()

,ID_NUMBER,FACULTY_STAFF_IND,MARITAL_STATUS,GENDER,AGE_BRACKET,STATE_CODE,ZIPCODE,STUDENT_ACTIVITY_PARTICIPANT,DEGREE_CODE1,DEGREE_YEAR1,...,NO_EVENTS_2017_NEW,NO_EVENTS_2016_NEW,NO_EVENTS_2015_NEW,NO_EVENTS_2014_NEW,NO_EVENTS_2013_NEW,NO_EVENTS_2012_NEW,NO_EVENTS_2011_NEW,NO_EVENTS_2010_NEW,NO_EVENTS_2009_NEW,NO_EVENTS_2008_NEW
0,109248,N,S,M,90,NY,14068,N,BS,1953,...,0,0,0,0,0,0,0,0,0,1
1,52671,N,S,M,60,NY,13027,N,BS,1981,...,0,0,0,0,0,0,0,0,0,0
2,159329,N,M,M,45,NY,14043,N,BS,1992,...,0,0,0,0,0,0,0,0,0,0
3,52861,N,,M,55,NY,14052,N,BS,1983,...,0,0,0,0,0,0,0,0,0,0
4,37191,N,M,M,80,NaN,NaN,N,BS,1975,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_2017 = ub_data["GIFT_AMOUNT_2017_NEW"].tolist()

In [5]:
for n,i in enumerate(data_2017):
    if i != 0:
        data_2017[n] =1

In [6]:
data_2018=ub_data["GIFT_AMOUNT_2018_NEW"].tolist()

In [7]:
for n,i in enumerate(data_2018):
    if i != 0:
        data_2018[n] =1

In [8]:
ntod=0
for i in range(len(data_2017)):
    if data_2017[i] == 0 and data_2018[i] == 1:       
        ntod = ntod + 1

In [9]:
dton=0
for i in range(len(data_2017)):
    if data_2017[i] == 1 and data_2018[i] == 0:       
        dton = dton + 1

In [10]:
dtod=0
for i in range(len(data_2017)):
    if data_2017[i] == 1 and data_2018[i] == 1:       
        dtod = dtod + 1

In [11]:
nton=0
for i in range(len(data_2017)):
    if data_2017[i] == 0 and data_2018[i] == 0:       
        nton = nton + 1

In [12]:
n_in_2017=data_2017.count(0)

In [13]:
d_in_2017=data_2017.count(1)

In [14]:
n_in_2018=data_2018.count(0)

In [15]:
d_in_2018=data_2018.count(1)

In [16]:
non_to_donor_prob=ntod/n_in_2017

In [17]:
non_to_donor_prob

0.021154140517373337

In [18]:
donor_to_non_prob=dton/d_in_2017

In [19]:
donor_to_non_prob

0.4500896592946802

In [20]:
donor_to_donor_prob=dtod/d_in_2017

In [21]:
donor_to_donor_prob

0.5499103407053197

In [22]:
non_to_non_prob=nton/n_in_2017

In [23]:
non_to_non_prob

0.9788458594826267

In [24]:
donors = 0
non_donors = 0
years = ['GIFT_AMOUNT_2008_NEW', 'GIFT_AMOUNT_2009_NEW', 'GIFT_AMOUNT_2010_NEW', 'GIFT_AMOUNT_2011_NEW',
         'GIFT_AMOUNT_2012_NEW', 'GIFT_AMOUNT_2013_NEW', 'GIFT_AMOUNT_2014_NEW', 'GIFT_AMOUNT_2015_NEW',
         'GIFT_AMOUNT_2016_NEW', 'GIFT_AMOUNT_2017_NEW', 'GIFT_AMOUNT_2018_NEW'
        ]

for i in range(len(years) - 1):
    y = years[i]
    y_1 = years[i+1]
    
    prev_donor_indices = set(ub_data[ub_data[y] > 0].index.tolist())
    next_donor_indices = set(ub_data[ub_data[y_1] > 0].index.tolist())
    
    prev_nd_indices = set(ub_data[ub_data[y] == 0].index.tolist())
    next_nd_indices = set(ub_data[ub_data[y_1] == 0].index.tolist())
    
    donor_to_donor = len(prev_donor_indices.intersection(next_donor_indices)) / len(prev_donor_indices)
    don_to_nd = 1 - donor_to_donor
    
    nd_to_nd = len(prev_nd_indices.intersection(next_nd_indices)) / len(prev_nd_indices)
    nd_to_donor = 1 - nd_to_nd

    print(y, '--->', y_1, '\n')
    print('        D   |      ND')
    print('------------------------')
    print('D     ', round(donor_to_donor, 2), '|    ', round(don_to_nd, 2))
    print('------------------------')
    print('ND    ', round(nd_to_donor, 2), '|    ', round(nd_to_nd,2))  
    print('\n\n')
    print('<----------------------------------------------------------------------->')
    print('\n\n')

GIFT_AMOUNT_2008_NEW ---> GIFT_AMOUNT_2009_NEW

        D   |      ND
------------------------
D      0.53 |     0.47
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2009_NEW ---> GIFT_AMOUNT_2010_NEW

        D   |      ND
------------------------
D      0.57 |     0.43
------------------------
ND     0.03 |     0.97



<----------------------------------------------------------------------->



GIFT_AMOUNT_2010_NEW ---> GIFT_AMOUNT_2011_NEW

        D   |      ND
------------------------
D      0.53 |     0.47
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2011_NEW ---> GIFT_AMOUNT_2012_NEW

        D   |      ND
------------------------
D      0.59 |     0.41
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2012_NEW ---> GIFT_AMOUNT_2013_NEW

        D   |      ND
------------------------
D      0.54 |     0.46
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2013_NEW ---> GIFT_AMOUNT_2014_NEW

        D   |      ND
------------------------
D      0.54 |     0.46
------------------------
ND     0.03 |     0.97



<----------------------------------------------------------------------->



GIFT_AMOUNT_2014_NEW ---> GIFT_AMOUNT_2015_NEW

        D   |      ND
------------------------
D      0.55 |     0.45
------------------------
ND     0.03 |     0.97



<----------------------------------------------------------------------->



GIFT_AMOUNT_2015_NEW ---> GIFT_AMOUNT_2016_NEW

        D   |      ND
------------------------
D      0.54 |     0.46
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2016_NEW ---> GIFT_AMOUNT_2017_NEW

        D   |      ND
------------------------
D      0.53 |     0.47
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->



GIFT_AMOUNT_2017_NEW ---> GIFT_AMOUNT_2018_NEW

        D   |      ND
------------------------
D      0.55 |     0.45
------------------------
ND     0.02 |     0.98



<----------------------------------------------------------------------->